/** Stylesheet for Personal Website **/

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
    margin:0px; padding:0px; 
    font-family: Lato, Arial;
}


/**
html {
    background-color:#ecf0f1;
}
**/
#header {
    padding:30px 70px;
}

#headertext {
    text-align:center;
}

#headerimg {
    width:15%;
    height:15%;
    border-radius:100%;
}

#navlinks {
    list-style-type:none; 
    text-align:center;
    display: block;
}

#navlinks li {
    display:inline;
    text-align:center;
}

#navlinks li a {
    text-decoration:none;
    font-size: 20px;
}

#content {
    padding: 0px 130px;
}

#map_canvas {
    width: 50%;
    height: 400px;
}
