/*~~~~~~~~~~~ Stylesheet ~~~~~~~~~~~~~*/

#center {
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
}


#center * {
    font-family: Poiret One, Arial;
    text-align: center;
}

body {
    text-align: center;
}

hr {
    width: 200px;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 22px;
    font-style: italic;
    padding: 16px;
}

p {
    font-size: 20px;
}


a {
    text-decoration: none;
    color: #2c3e50;
}
